<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products.length>0) { %>
                    <ul>
                        <% products.forEach(p=> { %>
                            <li>
                                <%= p.title %>
                                    <h2>Quantit:<%= p.quantity %>
                                    </h2>
                            </li>
                            <form action='/cart-delete-item' method='POST'>
                                <input type='hidden' value='<%=p._id %>' name='productId'>
                                <button type='submit'>Delete</button>

                            </form>
                            <% }) %>
                    </ul>
                    <form action='/create-order' method='POST'>

                        <button class='btn'>Order Now!</button>
                    </form>
                    <% } else { %>
                        <h1>No products in Cart</h1>
                        <% }%>
            </main>